@media screen and (min-width: 1280px){
#entete{
	display:block;
	/* margin-left:10%; */
	background-color:RGB(0, 162, 234);
	border-top:0%;
	width:100%;
}
#pensif{
	padding-top:25px;
	float:center;
	position:absolute;
	padding-left:20%;
	font-size:90px;
	font-family:"Blackadder ITC";
	color:RGB(237, 130, 52);
}
#article, #propo{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	margin-top:5px;
	/*margin-left:5px;*/
	margin-bottom:5px;
	margin-right:5px;
	text-decoration:underline;
	width:15%;
	height:700px;
	background-color:RGB(112, 146, 191);
}
#body{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	padding-left:10px;
	margin-top:5px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	margin-right:5px;
	width:66%;
	height:700px;
	font-family:Agency FB;
	font-size:20px;
}
#pense{
	float:right;
	width:17%;
}
a{
	font-size:17px;
	padding-left:15px;
}
#logo{
	display:inline-block;
	border-radius:80px;
	width:160px;
	margin-left:50px;
	/* margin-top:20px; */
}
.salut{
	text-align:center;
	color:RGB(237, 130, 52);
	font-family:Cambria (Titres);
	font-size:48px;
}
.suite{
	font-size:20px;
	color:blue;
}
.first{
	color:RGB(237, 130, 52);
	font-family:"Blackadder ITC";
	font-size:40px;
}
#fin{
	font-family:Harrington;
	text-align:center;
	font-size:30px;
}
.ti{
	color:RGB(237, 130, 52);
}
}

@media screen and (min-width: 1000px) and (max-width: 1279px){
.ti{
	color:RGB(237, 130, 52);
}
.first{
	color:RGB(237, 130, 52);
	font-family:"Blackadder ITC";
	font-size:40px;
}
#entete{
	display:block;
	/* margin-left:10%; */
	background-color:RGB(0, 162, 234);
	border-top:0%;
	width:100%;
}
#pensif{
	padding-top:25px;
	float:center;
	position:absolute;
	padding-left:15%;
	font-size:90px;
	font-family:"Blackadder ITC";
	color:RGB(237, 130, 52);
}
#article, #propo{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	margin-top:5px;
	/*margin-left:5px;*/
	margin-bottom:5px;
	margin-right:5px;
	text-decoration:underline;
	width:16%;
	height:750px;
	background-color:RGB(112, 146, 191);
}
#body{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	padding-left:10px;
	margin-top:5px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	margin-right:5px;
	width:63.5%;
	height:750px;
	font-family:Agency FB;
	font-size:20px;
}
#pense{
	float:right;
	width:17%;
}
a{
	font-size:17px;
	padding-left:15px;
}
#logo{
	display:inline-block;
	border-radius:80px;
	width:160px;
	margin-left:50px;
	/* margin-top:20px; */
}
.salut{
	text-align:center;
	color:RGB(237, 130, 52);
	font-family:Cambria (Titres);
	font-size:44px;
}
.suite{
	color:blue;
	font-size:20px;
}
#fin{
	font-family:Harrington;
	text-align:center;
	font-size:25px;
}
}
@media screen and (min-width: 800px) and (max-width: 999px){
.ti{
	color:RGB(237, 130, 52);
}
.first{
	color:RGB(237, 130, 52);
	font-family:"Blackadder ITC";
	font-size:38px;
}
#entete{
	display:block;
	/* margin-left:10%; */
	background-color:RGB(0, 162, 234);
	border-top:0%;
	width:100%;
}
#pensif{
	padding-top:25px;
	float:center;
	position:absolute;
	padding-left:8%;
	font-size:85px;
	font-family:"Blackadder ITC";
	color:RGB(237, 130, 52);
}
#article, #propo{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	margin-top:5px;
	/*margin-left:5px;*/
	margin-bottom:5px;
	margin-right:5px;
	text-decoration:underline;
	width:17%;
	height:900px;
	background-color:RGB(112, 146, 191);
}
#body{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	padding-left:10px;
	margin-top:5px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	margin-right:5px;
	width:60%;
	height:900px;
	font-family:Agency FB;
	font-size:20px;
}
#pense{
	float:right;
	width:18%;
}
a{
	font-size:17px;
	padding-left:10px;
}
#logo{
	display:inline-block;
	border-radius:80px;
	width:160px;
	margin-left:50px;
	/* margin-top:20px; */
}
.salut{
	text-align:center;
	color:RGB(237, 130, 52);
	font-family:Cambria (Titres);
	font-size:42px;
}
.suite{
	color:blue;
	font-size:20px;
}
#fin{
	font-family:Harrington;
	text-align:center;
}
}
@media screen and (min-width: 685px) and (max-width: 799px){
.ti{
	color:RGB(237, 130, 52);
}
.first{
	color:RGB(237, 130, 52);
	font-family:"Blackadder ITC";
	font-size:38px;
}
#entete{
	display:block;
	/* margin-left:10%; */
	background-color:RGB(0, 162, 234);
	border-top:0%;
	width:100%;
}
#pensif{
	padding-top:25px;
	float:center;
	position:absolute;
	padding-left:8%;
	font-size:70px;
	font-family:"Blackadder ITC";
	color:RGB(237, 130, 52);
}
h3{
	font-size:15px;
}
#article, #propo{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	margin-top:5px;
	/*margin-left:5px;*/
	margin-bottom:5px;
	margin-right:5px;
	text-decoration:underline;
	width:17%;
	height:900px;
	background-color:RGB(112, 146, 191);
}
#body{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	padding-left:10px;
	margin-top:5px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	margin-right:5px;
	width:60%;
	height:900px;
	font-family:Agency FB;
	font-size:20px;
}
#pense{
	float:right;
	width:21%;
	font-size:15px;
}
a{
	font-size:17px;
	padding-left:10px;
}
#logo{
	display:inline-block;
	border-radius:80px;
	width:130px;
	margin-left:50px;
	/* margin-top:20px; */
}
.salut{
	text-align:center;
	color:RGB(237, 130, 52);
	font-family:Cambria (Titres);
	font-size:42px;
}
.suite{
	color:blue;
	font-size:20px;
}
#fin{
	font-family:Harrington;
	text-align:center;
}
}
@media screen and (min-width: 550px) and (max-width: 684px){
.ti{
	color:RGB(237, 130, 52);
}
.first{
	color:RGB(237, 130, 52);
	font-family:"Blackadder ITC";
	font-size:38px;
}
h3{
	font-size:13px;
}
#entete{
	display:block;
	/* margin-left:10%; */
	background-color:RGB(0, 162, 234);
	border-top:0%;
	width:100%;
}
#pensif{
	padding-top:35px;
	float:center;
	position:absolute;
	padding-left:5%;
	font-size:40px;
	font-family:"Blackadder ITC";
	color:RGB(237, 130, 52);
}
#article, #propo{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	margin-top:5px;
	/*margin-left:5px;*/
	margin-bottom:5px;
	margin-right:5px;
	text-decoration:underline;
	width:16%;
	height:1060px;
	background-color:RGB(112, 146, 191);
}
#body{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	padding-left:10px;
	margin-top:5px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	margin-right:5px;
	width:60%;
	height:1060px;
	font-family:Agency FB;
	font-size:20px;
}
#pense{
	float:right;
	font-size:12px;
	width:25%;
}
a{
	font-size:17px;
}
#logo{
	display:inline-block;
	border-radius:80px;
	width:100px;
	margin-left:50px;
	/* margin-top:20px; */
}
.salut{
	text-align:center;
	color:RGB(237, 130, 52);
	font-family:Cambria (Titres);
	font-size:40px;
}
.suite{
	color:blue;
	font-size:20px;
}
#fin{
	font-family:Harrington;
	text-align:center;
}
}
@media screen and (min-width: 450px) and (max-width: 549px){
.ti{
	color:RGB(237, 130, 52);
}
.first{
	color:RGB(237, 130, 52);
	font-family:"Blackadder ITC";
	font-size:38px;
}
h3{
	font-size:10px;
}
#entete{
	display:block;
	/* margin-left:10%; */
	background-color:RGB(0, 162, 234);
	border-top:0%;
	width:100%;
}
#pensif{
	padding-top:35px;
	float:center;
	position:absolute;
	padding-left:5%;
	font-size:30px;
	font-family:"Blackadder ITC";
	color:RGB(237, 130, 52);
}
#article, #propo{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	margin-top:5px;
	/*margin-left:5px;*/
	margin-bottom:5px;
	margin-right:5px;
	text-decoration:underline;
	width:16%;
	height:1220px;
	background-color:RGB(112, 146, 191);
}
#body{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	padding-left:10px;
	margin-top:5px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	margin-right:5px;
	width:58%;
	height:1220px;
	font-family:Agency FB;
	font-size:20px;
}
#pense{
	float:right;
	font-size:12px;
	width:25%;
}
a{
	font-size:15px;
}
#logo{
	display:inline-block;
	border-radius:80px;
	width:90px;
	margin-left:50px;
	/* margin-top:20px; */
}
.salut{
	text-align:center;
	color:RGB(237, 130, 52);
	font-family:Cambria (Titres);
	font-size:35px;
}
.suite{
	color:blue;
	font-size:20px;
}
#fin{
	font-family:Harrington;
	text-align:center;
}
h2{
	font-size:20px;
}
}
@media screen and (min-width: 320px) and (max-width: 449px){
.ti{
	color:RGB(237, 130, 52);
}
.first{
	color:RGB(237, 130, 52);
	font-family:"Blackadder ITC";
	font-size:30px;
}
#entete{
	display:block;
	/* margin-left:10%; */
	background-color:RGB(0, 162, 234);
	border-top:0%;
	width:100%;
}
#pensif{
	padding-top:15px;
	float:center;
	position:absolute;
	padding-left:6%;
	font-size:22px;
	font-family:"Blackadder ITC";
	color:RGB(237, 130, 52);
}
#article, #propo{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	margin-top:5px;
	/*margin-left:5px;*/
	margin-bottom:5px;
	margin-right:5px;
	text-decoration:underline;
	width:14%;
	height:950px;
	background-color:RGB(112, 146, 191);
}
#body{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	padding-left:10px;
	margin-top:5px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	margin-right:5px;
	width:58%;
	height:950px;
	font-family:Agency FB;
	font-size:15px;
}
#pense{
	float:right;
	font-size:9px;
	width:33%;
}
a{
	font-size:9px;
}
#logo{
	display:inline-block;
	border-radius:80px;
	width:75px;
	margin-left:10px;
	/* margin-top:20px; */
}
.salut{
	text-align:center;
	color:RGB(237, 130, 52);
	font-family:Cambria (Titres);
	font-size:25px;
}
.suite{
	color:blue;
	font-size:15px;
}
#fin{
	font-family:Harrington;
	text-align:center;
}
h2{
	font-size:10px;
}
}

@media screen and (max-width: 319px){
.ti{
	color:RGB(237, 130, 52);
}
.first{
	color:RGB(237, 130, 52);
	font-family:"Blackadder ITC";
	font-size:25px;
}
#entete{
	display:block;
	/* margin-left:10%; */
	background-color:RGB(0, 162, 234);
	border-top:0%;
	width:100%;
	height:70px;
}
#pensif{
	padding-top:15px;
	float:center;
	position:absolute;
	padding-left:0px;
	font-size:14px;
	font-family:"Blackadder ITC";
	color:RGB(237, 130, 52);
}
#article, #propo{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	margin-top:5px;
	/*margin-left:5px;*/
	margin-bottom:5px;
	margin-right:5px;
	text-decoration:underline;
	width:14%;
	height:1450px;
	background-color:RGB(112, 146, 191);
}
#body{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fde5d9;
	border-radius:10px 10px 0px 0px;
	box-shadow: 0px 0px 30px #aaa;
	padding-left:10px;
	margin-top:5px;
	/*margin-left:15px;*/
	margin-bottom:5px;
	margin-right:5px;
	width:52%;
	height:1450px;
	font-family:Agency FB;
	font-size:15px;
}
#pense{
	float:right;
	font-size:7px;
	width:38%;
}
a{
	font-size:6px;
}
#logo{
	display:inline-block;
	border-radius:80px;
	width:65px;
	margin-left:0px;
	/* margin-top:20px; */
}
.salut{
	text-align:center;
	color:RGB(237, 130, 52);
	font-family:Cambria (Titres);
	font-size:25px;
}
.suite{
	color:blue;
	font-size:15px;
}
#fin{
	font-family:Harrington;
	text-align:center;
}
h2{
	font-size:7px;
}
}